In [ ]:
import boto3
import pandas

In [ ]:
# Creating the low level functional client
client = boto3.client(
    's3',
    aws_access_key_id = 'AKIA46SFIWN5AMWMDQVB',
    aws_secret_access_key = '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',
    region_name = 'ap-south-1'
)

In [ ]:
# Create the S3 object
obj = client.get_object(
    Bucket = 'sql-server-shack-demo-1',
    Key = 'sql-shack-demo.csv'
)
    
# Read data from the S3 object
data = pandas.read_csv(obj['Body'])
    
# Print the data frame
print('Printing the data frame...')
print(data)

In [1]:
import pandas as pd

In [2]:
epw_path = "../../../../../Downloads/BuildStock_TMY3_FIPS/G0100010.epw"

In [8]:
df = pd.read_csv(epw_path, skiprows=8, delimiter = ',')

In [9]:
df.head()

,2003,1,1.1,1.2,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9*9?9?9?9*9*9?9*9*9,7.3,7.2,99,101800,...,17037,9,999999999,220,0.0540,0.11,88,0.160,999.0,99.0
0,2003,1,1,2,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9*9?9?9?9*9*9?9...,6.4,6.4,100,101800,...,16329,9,999999999,220,0.054,0,88,0.16,999.0,99.0
1,2003,1,1,3,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9*9?9?9?9*9*9?9...,5.6,5.6,100,101800,...,15618,9,999999999,229,0.054,0,88,0.16,999.0,99.0
2,2003,1,1,4,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9*9?9?9?9*9*9?9...,6.7,6.7,100,101800,...,14910,9,999999999,229,0.054,0,88,0.16,999.0,99.0
3,2003,1,1,5,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9*9?9?9?9*9*9?9...,6.8,6.8,100,101800,...,14202,9,999999999,229,0.054,0,88,0.16,999.0,99.0
4,2003,1,1,6,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9*9?9?9?9*9*9?9...,6.0,5.0,93,101800,...,13492,9,999999999,229,0.054,0,88,0.16,999.0,99.0